<?xml version="1.0" encoding="utf-8"?>
<LinearLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:local="http://schemas.android.com/apk/res-auto"
    android:orientation="vertical"
    android:layout_width="match_parent"
    android:layout_height="match_parent">
    <ProgressBar
        style="?android:attr/progressBarStyleHorizontal"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:progress="3"
        local:MvxBind="max GoalNumber"
        android:id="@+id/progressBar1" />
    <GridLayout
        android:minWidth="25px"
        android:minHeight="25px"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:id="@+id/gridLayout1"
        android:rowCount="1"
        android:columnCount="3">
        <TextView
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:textSize="11dp"
            android:layout_gravity="left"
            android:layout_row="0"
            android:textColor="#777"
            android:layout_column="2"
            local:MvxBind="Text GoalNumber" />
        <TextView
            android:layout_width="fill_parent"
            android:layout_height="wrap_content"
            android:layout_gravity="right"
            android:textSize="11dp"
            android:layout_row="0"
            android:textColor="#777"
            android:layout_column="0"
            local:MvxBind="Text GoalName" />
    </GridLayout>
</LinearLayout>